In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [15]:
train=pd.read_csv('Train.csv')
test=pd.read_csv('test.csv')
combined=pd.concat([train,test])
combined.reset_index(inplace=True,drop=True)

In [17]:
combined.head()

   Count          Datetime  ID
0    8.0  25-08-2012 00:00   0
1    2.0  25-08-2012 01:00   1
2    6.0  25-08-2012 02:00   2
3    2.0  25-08-2012 03:00   3
4    2.0  25-08-2012 04:00   4

In [18]:
combined.describe()

              Count            ID
count  18288.000000  23400.000000
mean     138.958115  11699.500000
std      153.467461   6755.142486
min        2.000000      0.000000
25%       22.000000   5849.750000
50%       84.000000  11699.500000
75%      210.000000  17549.250000
max     1244.000000  23399.000000